  <h1>Новини сайту</h1>
  <br>

  <p><b>9 березня 2021 року</b> - на сайт додана категорія новин.</p>

  <p><b>9 березня 2021 року</b> - підключено Bootstrap.</p>

  <p><b>2 березня 2021 року</b> - створено загальну структуру блогу.</p>